@font-face
{
	font-family: Montserrat;
	src: url("../../Fonts/Montserrat-Regular.ttf");
}

html, body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body
{
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	background-color: #66999B;
	font-family: Montserrat, "Times New Roman", serif;
	text-align: center;
}

#graph, #options {
	border: 1px solid black;
}
		
#options {
	vertical-align: top;
	height: 640px;
	background-color: #DBFAFC;
}

#xCoord, #yCoord, #submit, #cancel {
	visibility: hidden;
}

#warning
{
	font-style: italic;
}

.group
{
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 5px solid black;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
}

.option
{
	width: 200px;
}

#box
{
	border: 5px solid black;
	padding: 50px;
}

#showCoords
{
	display: inline-block;
}

#showCoords_text
{
	display: inline-block;
}